# SyncWatch - Service for SyncWatch

[Unit]
Description=SyncWatch (Service to synchronize 2 locations on file or folder change)
After=multi-user.target

[Service]
Type=simple
ExecStart=/opt/syncwatch/syncwatch.py
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
